<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.myspringsecurityproject.join.repository.JoinRepository">

    <insert id="insertUser" parameterType="com.example.myspringsecurityproject.manage.user.domain.UserVO">
    /** com.example.myspringsecurityproject.join.repository.JoinRepository.insertUser */
    <![CDATA[
        INSERT INTO MY_USER
        (
            USER_ID
            , LOGIN_ID
            , USER_NAME
            , USER_PWD
            , STATUS
            , CREATOR_ID
            , CREATE_DTTM
            , UPDATER_ID
            , UPDATE_DTTM
        )
        VALUES
        (
            #{userId}
            , #{loginId}
            , #{userName}
            , #{userPwd}
            , 0
            , #{userId}
            , NOW()
            , #{userId}
            , NOW()
        )
    ]]>
    <selectKey keyProperty="userId" resultType="java.lang.String" order="BEFORE">
        <![CDATA[
        SELECT uuid_generate_v4()
    ]]>
    </selectKey>
    </insert>

</mapper>